main {
    max-width: 80%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: black;
    margin: 50px 250px 130px 250px;
}

main > h1 {
    font-size: 24px;
    text-align: center;
}

.git-commands {
    list-style: none;
    padding: 0;
}

.git-commands li {
    margin: 20px 0;
}

.command-name {
    font-weight: bold;
    background-color: rgb(132, 14, 201);;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
}

/* Estilos adicionais conforme necessário */

